<div class="container">

  <h3 class="mt-5 mb-5 display-3">
    <%= @product.category.heading %>
  </h3>

  <h4 class="mb-3">
    <%= @product.name %>
  </h4>

  <div>
    <div class="card p-3 mt-3 mb-3">
      <small class="mb-3">Description:</small>
      <%= @product.description %>
    </div>
  </div>
  <hr>

  <p>
    <small>Product Image:</small>
    <%= @product.image.identifier %>
  </p>
  <hr>

  <p>
    <small>Price:</small>
    <%= @product.price %>
  </p>
  <hr>

  <p>
    <small>Dairy free:</small>
    <%= @product.dairy_free %>
  </p>
  <hr>

  <p>
    <small>Gluten free:</small>
    <%= @product.gluten_free %>
  </p>
  <hr>

  <p>
    <small>Kosher:</small>
    <%= @product.kosher %>
  </p>
  <hr>

  <p>
    <small>Peanut free:</small>
    <%= @product.peanut_free %>
  </p>
  <hr>

  <p>
    <small>Vegan:</small>
    <%= @product.vegan %>
  </p>
  <hr>

  <p>
    <small>Vegetarian:</small>
    <%= @product.vegetarian %>
  </p>
  <hr>

  <p>
    <small>Available:</small>
    <%= @product.available %>
  </p>
  <hr>

  <p>
    <small>Catering:</small>
    <%= @product.catering %>
  </p>
  <hr>

  <p>
    <small>Featured:</small>
    <%= @product.featured %>
  </p>
  <hr>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
  <hr>
</div>
